/*Use border-box in all elements.*/
* {
  box-sizing: border-box;
}
/* styling body */
/*Add margin, padding, and border to the body.*/ 
body {
  font-family: "monaco" , Helvetica;                     /* set text style */
  font-size: 15px;                                       /* set size of the letters */
   background-color: black;                         /* set background color */
   color: #0752df;                                     /* set text color */
   line-height: 2;                                        /* set the line height  */
   margin: 2rem ;                                       /* added margin  */
   padding: 2rem ;                                      /* added padding  */
   border: 2px solid #0752df ;                          /* added border  */ 
   
  
}

a {
  color: #3087fa;                                      /* set link color */        
  text-decoration: none;                                 /* removing the underline from the links */
}

::placeholder {
  color: #0752df;
}
/* Styling the main heading */
h1 {
  font-size: 2.5rem;                                    /* set font size for h1 */
  text-align: center;                                   /* aligned h1 to the center  */ 
  text-shadow: 3px 3px 5px rgba(39, 243, 233, 0.534);      /* set the text shadow */   
}

  /* Styling the h2 */
h2 {
  font-size: 1.8rem;                                      /* Set font size for h2 */
  font-weight: 600;                                       /* Made it slightly bolder */
  text-transform: uppercase;                              /* Convert text to uppercase for visual prominence */
}

 /* Styling the h3 */
h3 {
     font-size: 1.4rem;                                      /* Set font size for h3 */
  }

header section
{
display: flex;
justify-content: space-between; /* set space between text in the  header section. */
height: 20rem;
}

/* Separate sections with margins to utilize collapsing margins. Also, use borders to space them apart. Observe the behavior.*/
main section,  footer section { 
  margin: 4rem 0;
  border-top: solid  2px  #0752df;  
}

/*Apply padding below headers to provide spacing .*/
h1, h2, h3 {
  padding-bottom: 1.5rem;
  
}

/*Adjust form elements to capture the same look and feel.*/
form input, form textarea, form select{
  padding: 0.1rem 0.2rem;
  color: #0752df;
  border: 2px dotted #0752df;
  background-color: black; 
}

/* Remove outlines from form elements, ensuring a cleaner look. */
form input, form textarea
{
outline: none;
}

/*removed the border from the fieldset*/
form fieldset
{
  margin: 0;
  padding: 0;
  border: none;
}

header section .image-container 
{
align-self: flex-start; /* Positions photo to the top left. */
width: 15rem; /*set the image size*/
height: 15rem;
}

header section .image-container img
{
display: block;
/* Fits the image into the container div. */
width: 80%;
height: 80%;
border: dotted 2px; /*made the picture border dotted*/
border-radius: 50%; /* Rounds the image. */
object-fit: cover; /* Preserves the original aspect ratio. */
object-position: 100% 20%; /* Makes the face visible moving the image down. */
}

header section .name-container {
align-self: center;  /* Positions the name container in the center  */
}
header section .information-container {
align-self: flex-end; /* Positions information container on the  bottom right */
}
/*Technologies  */
.technologies .container {
display: flex;    
justify-content: space-between;  
}
/*Tools */
.tools .container {
display: flex;
justify-content: center; /* position sections in the center */
}

/* Styling the paragraphs */
p, li, table, form {
  font-size: 1rem;        /* set the font size for paragraphs*/
}

.contact .text-input-container,
.contact .select-container,
.contact .checkbox-container {
  display: flex;
width: 30rem;     /*positioning form containers close to each other */
margin-bottom: 1rem;  
}



.contact .text-input-container input,
.contact .text-input-container textarea,
.contact .select-container select { 
    width: 20rem;  /*set the width on text input*/
}

.contact .text-input-container label,
.contact .select-container label { 
flex-grow: 3; /* set the text input container on flex grow*/
}

.contact .text-input-container textarea {
height: 10rem;  /* set the height for message) textarea  */
}

.contact .form-container {
display: flex;
align-items: center;    /*positioning form containers in the center */
flex-direction: column;
}

.message-container {
margin-top: 7rem;
text-align: end; /*set the message container on the project on the right end */
}

form button {
padding: 0.5rem 1rem;  /*set the padding for the buttons*/
  color: #0752df;     /*set the color of the text  for buttons*/
border: 2px solid #0752df; /*/*set the border and color  for buttons*/
background-color: black; /* set the background color for buttons*/
}


/*Set hover and animations for buttons*/
form button:hover {
  border:  solid  #f1efef;
  color: rgb(255, 255, 255);
  background-color: #123f64 ;
  transition: all  0.3s ease-in ;
  transform: scale(1.1);    /* Scale up the hover */
}
.contact .button-container {
display: flex;
justify-content: flex-end; /*position buttons on the right*/
}

.contact .button-container button[type=reset]
{
margin-right: 1rem;  /*positioning reset button close to submit button*/
}
 


/*Adapting my digital cv for smaller screens*/
@media only screen and (max-width: 480px) { /*Set max width to 680 because under 680 my portrait image shrinks,technology and contact fit well */
  body {
    font-size: 14px;
    margin: 1rem;
    padding: 1rem;
    align-self: auto;
  }
/*Adjusted font size of h1,h2,h3 for smaller screens */
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
   
  
  main section,
footer section {
  margin: 2rem 0; /* Adjusted margin of main section and footer for smaller screens */
}
/*adujst header section  on auto height and column*/
  header section {
    height: auto;
    flex-direction: column;
  }
    /*positioning image,name,information on center  of header section for smaller screens*/
  header section .image-container,
  header section .name-container,
  header section .information-container {
    align-self: center;
  }
  /* adjusted auto and column of technologies section for smaller screens*/
  .technologies .container {
        align-self: auto;
        flex-direction: column;
    }
    
  /* adjusted width,align,flex direction  of the contact section for smaller devices*/

  .contact .text-input-container,
  .contact .select-container,
  .contact .checkbox-container 
  {
    
    width: auto;
    align-self: auto;
    flex-direction: column;
  }
   

  
}
/* This was my first project using Cascading stylesheets  */


/*please review this project and let me know if i have to make any changes i tried my best*/












   



